.handFold {
    color: black;
    text-align : center;
    font-weight: normal;
    height: 45px;
    width: 45px;
    border: 1px solid grey;
    background-color: #E8E8E8;
    border-radius: 15%;
}

.handRaiseFold {
    color: black;
    text-align: center;
    font-weight: normal;
    height: 45px;
    width: 45px;
    border: 1px solid green;
    background-color: #B9FFB4;
    border-radius: 15%;
}

.handLimpFold {
    color: black;
    text-align: center;
    font-weight: normal;
    height: 45px;
    width: 45px;
    border: 1px solid blue;
    background-color: #C3CBFF;
    border-radius: 15%;
}

.handLimpCall {
    color: black;
    text-align: center;
    font-weight: normal;
    height: 45px;
    width: 45px;
    border: 1px solid magenta;
    background-color: #FFCCFD;
    border-radius: 15%;
}

.handRaiseCall {
    color: black;
    text-align: center;
    font-weight: normal;
    height: 45px;
    width: 45px;
    border: 1px solid maroon;
    background-color: #EEC7C7;
    border-radius: 15%;
}

.handRaiseBroke {
    color: black;
    text-align: center;
    font-weight: normal;
    height: 45px;
    width: 45px;
    border: 1px solid red;
    background-color: #FFB9B9;
    border-radius: 15%;
}