.handFold {
    color: grey;
    text-align : center;
    font-weight: normal;
    height: 45px;
    width: 45px;
    border: 1px solid grey;
    background-color: #E8E8E8;
    border-radius: 30%;
}

.handRaiseFold {
    color: black;
    text-align: center;
    font-weight: normal;
    height: 45px;
    width: 45px;
    border: 1px solid green;
    background-color: #B9FFB4;
    border-radius: 30%;
}

.handLimpFold {
    color: black;
    text-align: center;
    font-weight: normal;
    height: 45px;
    width: 45px;
    border: 1px solid blue;
    background-color: #C3CBFF;
    border-radius: 30%;
}

.handLimpCall {
    color: black;
    text-align: center;
    font-weight: normal;
    height: 45px;
    width: 45px;
    border: 1px solid magenta;
    background-color: #FFCCFD;
    border-radius: 30%;
}

.handLimpReraise {
    color: black;
    text-align: center;
    font-weight: normal;
    height: 45px;
    width: 45px;
    border: 1px solid #5A0072;
    background-color: #CA00FF;
    border-radius: 30%;
}

.handLimpBroke {
    color: black;
    text-align: center;
    font-weight: normal;
    height: 45px;
    width: 45px;
    border: 1px solid #3A3A3A;
    background-color: #777777;
    border-radius: 30%;
}

.handRaiseCall {
    color: black;
    text-align: center;
    font-weight: normal;
    height: 45px;
    width: 45px;
    border: 1px solid maroon;
    background-color: #E9C5AD;
    border-radius: 30%;
}

.handRaiseBroke {
    color: black;
    text-align: center;
    font-weight: normal;
    height: 45px;
    width: 45px;
    border: 1px solid red;
    background-color: #FF7171;
    border-radius: 30%;
}

.handBVB3bet {
    color: black;
    text-align: center;
    font-weight: normal;
    height: 45px;
    width: 45px;
    border: 1px solid #BDB114;
    background-color: #FFDC30;
    border-radius: 30%;
}

.handBVBCall {
    color: black;
    text-align: center;
    font-weight: normal;
    height: 45px;
    width: 45px;
    border: 1px solid #309492;
    background-color: #7AFFFC;
    border-radius: 30%;
}

.handRaiseCallRaiseBroke {
    color: black;
    text-align: center;
    font-weight: normal;
    height: 45px;
    width: 45px;
    border-radius: 30%;
    border: 1px solid grey;
    background-image: repeating-linear-gradient(0deg,
        #E9C5AD,
        #E9C5AD 22px,
        #FF7171 22px,
        #FF7171 45px);
}

.handRaiseFoldRaiseBroke {
    color: black;
    text-align: center;
    font-weight: normal;
    height: 45px;
    width: 45px;
    border-radius: 30%;
    border: 1px solid grey;
    background-image: repeating-linear-gradient(0deg,
        #B9FFB4,
        #B9FFB4 22px,
        #FF7171 22px,
        #FF7171 45px);
}

.handRaiseCallRaise4bet {
    color: black;
    text-align: center;
    font-weight: normal;
    height: 45px;
    width: 45px;
    border-radius: 30%;
    border: 1px solid grey;
    background-image: repeating-linear-gradient(0deg,
        #E9C5AD,
        #E9C5AD 22px,
        #FFDC30 22px,
        #FFDC30 45px);
}

.handRaiseFoldRaise4bet {
    color: black;
    text-align: center;
    font-weight: normal;
    height: 45px;
    width: 45px;
    border-radius: 30%;
    border: 1px solid grey;
    background-image: repeating-linear-gradient(0deg,
        #B9FFB4,
        #B9FFB4 22px,
        #FFDC30 22px,
        #FFDC30 45px);
}

.handRaiseFoldRaiseCall {
    color: black;
    text-align: center;
    font-weight: normal;
    height: 45px;
    width: 45px;
    border-radius: 30%;
    border: 1px solid grey;
    background-image: repeating-linear-gradient(0deg,
        #B9FFB4,
        #B9FFB4 22px,
        #E9C5AD 22px,
        #E9C5AD 45px);
}

.handBVBCall3bet {
    color: black;
    text-align: center;
    font-weight: normal;
    height: 45px;
    width: 45px;
    border-radius: 30%;
    border: 1px solid grey;
    background-image: repeating-linear-gradient(0deg,
        #7AFFFC,
        #7AFFFC 22px,
        #FFDC30 22px,
        #FFDC30 45px);
}

.p {
    position: relative;
    top: 22%;
}

.btn-modify {
    text-align: center;
    border-radius: 30%;
    height: 45px;
    width: 45px;
}

.btn-modify:hover {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}