<ul class="list-group">
    <li class="list-group-item">
        <button type="button" class="btn btn-secondary" (click)="newPlay(0)">Fold</button>
    </li>
    <li class="list-group-item">
        <button type="button" class="btn btn-secondary" (click)="newPlay(1)">Raise call</button>
    </li>
    <li class="list-group-item">
        <button type="button" class="btn btn-secondary" (click)="newPlay(2)">Raise Fold</button>
    </li>
    <li class="list-group-item">
        <button type="button" class="btn btn-secondary" (click)="newPlay(3)">Raise Broke</button>
    </li>
    <li class="list-group-item">
        <button type="button" class="btn btn-secondary" (click)="newPlay(4)">Limp Fold</button>
    </li>
    <li class="list-group-item">
        <button type="button" class="btn btn-secondary" (click)="newPlay(5)">Limp Call</button>
    </li>
</ul>
