<ul class="list-group">
    <li class="list-group-item" style="background-color: #dbdbdb;">
        <button type="button" class="btn btn-secondary" (click)="newPlay(0)">Fold</button>
    </li>
    <li class="list-group-item" style="background-color: #E9C5AD;">
        <button type="button" class="btn btn-secondary" (click)="newPlay(1)">Raise call</button>
    </li>
    <li class="list-group-item" style="background-color: #B9FFB4;">
        <button type="button" class="btn btn-secondary" (click)="newPlay(2)">Raise Fold</button>
    </li>
    <li class="list-group-item" style="background-color: #FF7171;">
        <button type="button" class="btn btn-secondary" (click)="newPlay(3)">Raise Broke</button>
    </li>
    <li class="list-group-item" style="background-color: #C3CBFF;">
        <button type="button" class="btn btn-secondary" (click)="newPlay(4)">Limp Fold</button>
    </li>
    <li class="list-group-item" style="background-color: #FFCCFD;">
        <button type="button" class="btn btn-secondary" (click)="newPlay(5)">Limp Call</button>
    </li>
    <li class="list-group-item" style="background-color: #CA00FF;">
        <button type="button" class="btn btn-secondary" (click)="newPlay(6)">Limp Reraise</button>
    </li>
    <li class="list-group-item" style="background-color: #777777;">
        <button type="button" class="btn btn-secondary" (click)="newPlay(7)">Limp Shove</button>
    </li>
    <li class="list-group-item" style="background-image: repeating-linear-gradient(0deg,#E9C5AD,#E9C5AD 50%,#FF7171 50%,#FF7171 100%);">
        <button type="button" class="btn btn-secondary" (click)="newPlay(8)">Raise Call / Raise Broke</button>
    </li>
    <li class="list-group-item" style="background-image: repeating-linear-gradient(0deg,#B9FFB4,#B9FFB4 50%,#FF7171 50%,#FF7171 100%);">
        <button type="button" class="btn btn-secondary" (click)="newPlay(9)">Raise Fold / Raise Broke</button>
    </li>
    <li class="list-group-item" style="background-image: repeating-linear-gradient(0deg,#E9C5AD,#E9C5AD 50%,#FFDC30 50%,#FFDC30 100%);">
        <button type="button" class="btn btn-secondary" (click)="newPlay(10)">Raise Call / Raise 4 bet</button>
    </li>
    <li class="list-group-item" style="background-image: repeating-linear-gradient(0deg,#B9FFB4,#B9FFB4 50%,#FFDC30 50%,#FFDC30 100%);">
        <button type="button" class="btn btn-secondary" (click)="newPlay(11)">Raise Fold / Raise 4 bet</button>
    </li>
    <li class="list-group-item" style="background-image: repeating-linear-gradient(0deg,#B9FFB4,#B9FFB4 50%,#E9C5AD 50%,#E9C5AD 100%);">
        <button type="button" class="btn btn-secondary" (click)="newPlay(12)">Raise Fold / Raise Call</button>
    </li>
    <li class="list-group-item" style="background-color: #FFDC30;">
        <button type="button" class="btn btn-secondary" (click)="newPlay(13)">Defend 3bet</button>
    </li>
    <li class="list-group-item" style="background-color: #7AFFFC;">
        <button type="button" class="btn btn-secondary" (click)="newPlay(14)">Defend Call</button>
    </li>
    <li class="list-group-item" style="background-image: repeating-linear-gradient(0deg,#FFDC30,#FFDC30 50%,#7AFFFC 50%,#7AFFFC 100%);">
        <button type="button" class="btn btn-secondary" (click)="newPlay(15)">Defend Call / 3bet</button>
    </li>
</ul>
