<table>
    <tr *ngFor="let line of arrayHands">
        <td *ngFor="let hand of line">
            <app-hand [card1]="hand.card1" [card2]="hand.card2" [suited]="'o'" *ngIf="!hand.areCardsEqual() && !hand.suited"></app-hand>
            <app-hand [card1]="hand.card1" [card2]="hand.card2" [suited]="'s'" *ngIf="!hand.areCardsEqual() && hand.suited"></app-hand>
            <app-hand [card1]="hand.card1" [card2]="hand.card2" [suited]="''" *ngIf="hand.areCardsEqual()"></app-hand>
        </td>
    </tr>
</table>
