<div class="btn-group-vertical" role="toolbar">
    <button type="button" class="btn btn-secondary" (click)="updatePos(0)">UTG</button>
    <button type="button" class="btn btn-secondary" (click)="updatePos(1)">HJ</button>
    <button type="button" class="btn btn-secondary" (click)="updatePos(2)">CO</button>
    <button type="button" class="btn btn-secondary" (click)="updatePos(3)">BT</button>
    <button type="button" class="btn btn-secondary" (click)="updatePos(4)">SB</button>
    <button type="button" class="btn btn-secondary" (click)="updatePos(5)">BB</button>  
</div>

<div class="btn-group-vertical" role="toolbar">
    <button type="button" class="btn btn-secondary" (click)="updateBbCount(0)">20 BB</button>
    <button type="button" class="btn btn-secondary" (click)="updateBbCount(1)">30 BB</button>
    <button type="button" class="btn btn-secondary" (click)="updateBbCount(2)">50 BB</button>
</div>

<h4> {{rangeTitle}} </h4>

<table *ngIf="!modifyMode">
    <tr *ngFor="let line of arrayHands">
        <td *ngFor="let hand of line">
            <app-hand [card1]="hand.card1" [card2]="hand.card2" [suited]="'o'" [playCard]="hand.play" [modifyMode]="false" *ngIf="!hand.areCardsEqual() && !hand.suited"></app-hand>
            <app-hand [card1]="hand.card1" [card2]="hand.card2" [suited]="'s'" [playCard]="hand.play" [modifyMode]="false" *ngIf="!hand.areCardsEqual() && hand.suited"></app-hand>
            <app-hand [card1]="hand.card1" [card2]="hand.card2" [suited]="''" [playCard]="hand.play" [modifyMode]="false" *ngIf="hand.areCardsEqual()"></app-hand>
        </td>
    </tr>
</table>

<table *ngIf="modifyMode">
    <tr *ngFor="let line of arrayHands">
        <td *ngFor="let hand of line">
            <app-hand [card1]="hand.card1" [card2]="hand.card2" [suited]="'o'" [playCard]="hand.play" [modifyMode]="true" [pos]="pos" [bb]="bb" *ngIf="!hand.areCardsEqual() && !hand.suited"></app-hand>
            <app-hand [card1]="hand.card1" [card2]="hand.card2" [suited]="'s'" [playCard]="hand.play" [modifyMode]="true" [pos]="pos" [bb]="bb" *ngIf="!hand.areCardsEqual() && hand.suited"></app-hand>
            <app-hand [card1]="hand.card1" [card2]="hand.card2" [suited]="''" [playCard]="hand.play" [modifyMode]="true" [pos]="pos" [bb]="bb" *ngIf="hand.areCardsEqual()"></app-hand>
        </td>
    </tr>
</table>

<a class="btn btn-outline-dark" *ngIf="!modifyMode" (click)="modify(true)">Modifier ses ranges</a>
<a class="btn btn-outline-primary" *ngIf="modifyMode" (click)="saveNewRanges()">Sauvegarder</a>

<app-ranges-modification *ngIf="modifyMode"></app-ranges-modification>